<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        .kerwin-enter-active{
            animation: aaa 1.5s;
        }
        .kerwin-leave-active{
            animation: aaa 1.5s reverse;
        }
        @keyframes aaa{
            0%{
                opacity: 0;
                transform: translateX(100px);
            }
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
        }
    </style>
</head>
<body>
    <div id="box">
        <input type="text" v-model="mytext"/>
        <button @click="handleClick()">add</button>

        <!-- <div v-if="datalist.length===0">待办事项空空</div> -->
        <!-- <ul v-else> -->
            <transition-group name="kerwin" tag="ul">
                <li v-for="(data,index) in datalist" :key="data">
                    {{data}}
                    <button @click="handleDel(index)">del</button>
                </li>
            </transition-group>
        <!-- </ul> -->
    </div>
    <script>
        new Vue({
            el:'#box',
            data:{
                mytext:'',
                datalist:[],
            },
            methods:{
                handleClick(){
                    this.datalist.push(this.mytext)
                    // 重置input
                    this.mytext=''
                },
                handleDel(myindex){
                    this.datalist.splice(myindex,1)
                }
            }
        })
    </script>
</body>
</html>